.bg-grass{
    background-color:#7c5;
    color: white;
}
.bg-poison{
    background-color: #a59;
    color: white;
}
.bg-water{
    background-color: #4592c4;
    color: white;
}

.bg-fire{
    background-color: #fd7d24;
    color: white;
}
.bg-fly{
    background-color: rgb(139, 139, 139);
    color: white;
}
.bg-ghost{
    background-color: #7b62a3;
    color: white;
}
.bg-figther{
    background-color: #d56723;
    color: white;
}
.bg-steel{
    background-color: #9eb7b8 ;
    color: black;
}
.bg-ice{
    background-color: #51c4e7 ;
    color: black;
}
.top-2{
    bottom:3.5rem;
}
.fs-h1{
    font-size: 4rem;
}

.header-bg-gradient{
    background: rgb(255,4,0);
    background: linear-gradient(146deg, rgba(255,4,0,1) 50%, rgba(255,255,255,1) 50%);
}

footer p{
margin-top: 15px;
}

.info-container{

    transform: translateY(-55px
    );
}

.mb-20{
    margin-bottom: 23rem;
}

@media (min-width: 768px) {
    .header-container-md {
        background: rgb(255,4,0);
        background: linear-gradient(120deg, rgba(255,4,0,1) 66%, rgba(255,255,255,1) 66%);
        display: flex;
        justify-content: end !important;
   }
   .custom-container{
    width: 50% !important;

   }
}
@media (min-width: 1200px) {

    .custom-container{
        width: 40% !important;
    
       }
}

