a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
:root {

    --font-color-pokeNfts: rgb(51 43 43);
    --principal-color: #70b494;
    --principal-color-50: #90e3bc;
    --call-to-action: #FFE8D1;
    --call-to-action-light: #ffe8d1b4;
    --call-to-action-hover: #d9cdc0;
    --call-to-action-parcial: #ffe8d130;
    --bs-accordion-btn-bg: unset;
    --bs-accordion-bg: unset;

}
ul {
    list-style-type: none;   /* Quita los puntos o numeración */
    padding: 0;              /* Elimina el padding predeterminado */
    margin: 0;               /* Elimina el margen predeterminado */
  }
  
  li {
    list-style-type: none;   /* Asegura que los <li> no tengan estilo de lista */
    padding: 0;              /* Elimina cualquier padding adicional */
    margin: 0;               /* Elimina cualquier margen adicional */
  }



.bg-grass {
    background-color: #7c5;
    color: white;
}

.bg-poison {
    background-color: #a59;
    color: white;
}

.bg-water {
    background-color: #4592c4;
    color: white;
}

.bg-fire {
    background-color: #fd7d24;
    color: white;
}

.bg-fly {
    background-color: rgb(139, 139, 139);
    color: white;
}

.bg-ghost {
    background-color: #7b62a3;
    color: white;
}

.bg-figther {
    background-color: #d56723;
    color: white;
}

.bg-steel {
    background-color: #9eb7b8;
    color: black;
}

.bg-ice {
    background-color: #51c4e7;
    color: black;
}

.bg-principal {
    background-color: var(--principal-color);
}
.bg-principal-50 {
    background-color: var(--principal-color-50);
}

.text-pokeNfts-color {
    color: var(--font-color-pokeNfts);
}

.bg-pokeNfts-green {
    background-color: var(--principal-color);
}

.bg-call-to-action {
    background-color: var(--call-to-action);
}

.bg-call-to-action-parcial {
    background-color: var(--call-to-action-parcial);
}


.bg-call-to-action {
    background-color: var(--call-to-action-parcial);
    border-color: var(--call-to-action);
    color: var(--font-color-pokeNfts);
}

.form-control {
    background-color: #ffffff63;
    border: 1px solid var(--call-to-action);
    color: var(--font-color-pokeNfts);
}

.fs-h1 {
    font-size: 4rem;
}


.about-text-container {
    max-width: 700px;
}

.header-bg-gradient {
    background: rgb(112 180 148);
    background: linear-gradient(270deg, rgba(112 180 148) 48%, rgba(255, 255, 255, 1) 48%);

}

.bg-carrucel-gradient {
    background: rgb(190, 237, 215);
    background: linear-gradient(180deg, rgba(190, 237, 215, 1) 0%, rgba(112, 180, 148, 1) 100%);
}

footer p {
    margin-top: 15px;
}

.info-container {
    min-height: 400px;
    transform: translateY(-55px);
}

.mb-cards {
    padding-bottom: 37rem;
}

.vh-70 {
    height: 70vh;
}

.shadow-custom {
    -webkit-box-shadow: -5px 15px 34px 16px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -5px 15px 34px 16px rgba(0, 0, 0, 0.45);
    box-shadow: -5px 15px 34px 16px rgba(0, 0, 0, 0.45);
}

.nuevo-bg {
    background: rgb(255, 4, 0);
    background: linear-gradient(146deg, rgba(112 180 148) 50%, rgba(255, 255, 255, 1) 50%);
}

.bg-h3-gradient {
    background: rgb(255, 4, 0);
    background: linear-gradient(146deg, rgba(112 180 148) 50%, rgba(255, 255, 255, 1) 50%);
}

.bg-h3-gradient-call-action {
    background: rgb(255, 4, 0);
    background: linear-gradient(146deg, rgb(255 232 209) 84%, rgba(112, 180, 148, 0) 50%);

}

.about-us {
    background: linear-gradient(180deg, #70B494 0%, #FEFFFF 100%);
}

.carrusel-img {
    width: 250px;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 9999;
}

.mt-30 {
    margin-bottom: 19rem;
}

.artist-img {
    width: 150px;
}

.our-artist-cards {
    max-width: 360px;

}

.card {
    background-color: var(--call-to-action-parcial);
    border: 1px solid var(--call-to-action);    
}

.accordion-button {
    background-color: var(--call-to-action-parcial);
}

.accordion-item {
    background-color: var(--call-to-action-parcial);
    border: solid var(--call-to-action);
}

.accordion-button:not(.collapsed) {
    background-color: var(--call-to-action);
    color: unset;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    background-color: var(--call-to-action-light);
    box-shadow: black;
}

.text-primary {
    color: var(--call-to-action);
}

.btn-custom {
    background-color: var(--call-to-action);
    border: 1px solid #d7c2ad;
    color: var(--font-color-pokeNfts);
    font-weight: 500;
    transition: 0.3s all;
}

.btn-custom:hover {
    background-color: var(--call-to-action-hover);
    border: 1px solid var(--call-to-action-hover);

}

.form-background {
    width: 20%;
    background-image: url(../imgs/icons/pikachu-computadora.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-link {

    transition: 0.3s all
}

.nav-link:hover {
    color: var(--call-to-action);
}

.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 147px;
    border-top: 0;
    border-bottom: 0;
}
.back-our-artist ::after{
content: '';
width: 100%;
height: auto;
position: absolute;
z-index: -1;
top: 10px;
bottom: 10px;
background: rgba(255, 232, 209, 0.394);
filter: blur(45px);
}
.overlay{
   width : 100%;
   height:100%;
   background-color:rgba(0, 0, 0, 0.5);
}
.modals {
    max-width:  800px;
 }

 .btn-close{
    top : 10px;
    right : 10px;
    cursor : pointer;
 }

 .carrito-lateral {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
}

.carrito-lateral.open {
    right: 0;
}

.carrito-lateral h2 {
    margin-bottom: 20px;
}
.fixed-top{
    z-index: 999;
}

.carrito-lateral .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
#counter-carrito{
    margin: 0;
}

@media (min-width: 400px) {
    .mb-cards {
        padding-bottom: 27rem;
    }
}


@media (min-width: 768px) {
    .header-container-md {
        background: rgb(255, 4, 0);
        background: linear-gradient(120deg, rgba(255, 4, 0, 1) 66%, rgba(255, 255, 255, 1) 66%);

    }

    .bg-h3-gradient-call-action {

        background: linear-gradient(146deg, rgb(255 232 209) 70%, rgba(112, 180, 148, 0) 50%);

    }

    .custom-container {
        width: 50% !important;
    }

    .our-artist-cards {
        max-width: 900px;
    }


}

@media (min-width: 1200px) {

    .custom-container {
        width: 40% !important;
    }
}